practices/练习题清单.md
modules/
practices/Python后端开发100题答案详解.md
practices/Python后端开发100题完整版.md
.cursor/rules/*
test.html
.DS_Store
练习文件概览.md
practices/python巩固语法练习题/__pycache__/python巩固语法练习题2_答案.cpython-311.pyc
practices/python巩固语法练习题/watch_dir/file_snapshot.json
practices/python巩固语法练习题/watch_dir_fixed/file_changes.log
practices/python巩固语法练习题/watch_dir_fixed/file_snapshot.json
practices/python巩固语法练习题/watch_dir_fixed/file1.txt
practices/python巩固语法练习题/watch_dir_fixed/haha.test
python-learning-process-record.code-workspace
